#board {
  border-collapse: collapse;
  background: #f4f5f7;
}

#game {
  margin-left: 6em;
}

#score {
  float: right;
  margin-right: 300px;
  background: #f4f5f7;
}

body {
  background: radial-gradient(white, rgb(26, 130, 242));
}

td {
  height: 140px;
  width: 140px;
  border: solid;
  font-size: 6rem;
  vertical-align: middle;
  text-align: center;
  background-clip: content-box;
}
